body {
  background: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 400px;
  background: #FFF;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #000000;
  font-size: 24px;
  font-weight: 900;
}

p {
  color: #000000;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  margin-right: 20px;
}

label {
  display: block;
  font-weight: 700;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #000000;
  color: #FFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #000000;
}

.forgot-password {
  text-decoration: black;
  color: #000000;
  text-align: center;
  font-size: 12px;
}
