{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>{% block title %}Ag Fiscal{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body>
    {% block nav %}
    <div class="container">
        {% bootstrap_messages %}
        <h1 class="display-4 text-primary mb-4">Ag Validação - Fiscal</h1>
        <input type="text" id="filtro" class="form-control mb-3" placeholder="Pesquisar...">
        <table class="table">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Pedido de Compras</th>
                    <th>Nota Fiscal</th>
                    <th>Anexo</th>
                    <th>Fornecedor</th>
                    <th>Destino</th>
                    <th>Data de Envio</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for envio in envios_div %}
                <tr>
                    <td>{{ envio.pedido_compras }}</td>
                    <td>{{ envio.nota_num }}</td>
                    <td>{% if envio.pdf_nota %}
                        <a href="{{ envio.pdf_nota.url }}" target="_blank">Ver PDF</a>
                        {% else %}
                        Nenhum anexo disponível
                        {% endif %}
                    </td>
                    <td>{{ envio.usuario.nome_fornecedor }}</td>
                    <td>{{ envio.empresa_destinataria }}</td>
                    <td>{{ envio.get_data_criacao }}</td>
                    <td>{{ envio.status_envio }}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEnvioLiberado{{ envio.id }}">
                            Liberar
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#myModal{{ envio.id }}">Divergência</button>
                </tr>
                <div class="modal fade" id="myModal{{ envio.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Deseja realmente marcar o envio como DIVERGENTE?</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'editar_envios' envio.id %}" class="post-form"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div>Nota: {{ envio.nota_num }}</div>
                                    <div>Pedido: {{ envio.pedido_compras }}</div>                  
                                    <div>Fornecedor: {{ envio.usuario.nome_fornecedor }}</div>
                                    <div class="modal-footer"></div>
                                    
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'envio_com_divergencia' envio.id %}" id="confirmacaoLink" class="btn btn-success">Sim</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalEnvioLiberado{{ envio.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Deseja realmente marcar o envio como LIBERADO?</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'envio_liberado' envio.id %}" class="post-form"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div>Nota: {{ envio.nota_num }}</div>
                                    <div>Pedido: {{ envio.pedido_compras }}</div>
                                    <div>Fornecedor: {{ envio.usuario.nome_fornecedor }}</div>
                                    <div class="modal-footer"></div>
                
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-success">Sim</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </tbody>
            {% endfor %}
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Código JavaScript para o filtro global -->
    <script>
        $(document).ready(function () {
            $("#filtro").on("keyup", function () {
                var valor = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(valor) > -1);
                });
            });
        });
    </script>
    {% endblock %}
</body>
</html>